Repository greschd/aiida-optimize: changes, and which pre-commit hooks are due for each by the changed paths.
All: prospector, version-number, mypy

.pre-commit-config.yaml:

repos:
- repo: git://github.com/pre-commit/mirrors-yapf
  rev: v0.28.0
  hooks:
  - id: yapf
    language: system
- repo: local
  hooks:
  - id: prospector
    name: prospector
    entry: prospector
    types: [file, python]
    language: system
    exclude: '^(doc/)|(examples/)|(futures/)'
  - id: version-number
    name: Check version numbers
    entry: python ./utils/validate_version_consistency.py
    language: system
    files: >-
      (?x)^(
        setup.json|
        utils/validate_version_consistency.py|
        aiida_optimize/__init__.py
      )$
    pass_filenames: false
  - id: mypy
    name: Run mypy
    entry: mypy aiida_optimize
    types: [file, python]
    language: system
    pass_filenames: false

Accept 'None' as xtol or ftol (translates to 'inf') in NelderMead engine.
  aiida_optimize/engines/_nelder_mead.py
  tests/test_nelder_mead.py
Due: prospector, mypy

Bump version number to 0.3.1.
  aiida_optimize/__init__.py
  setup.json
Due: prospector, version-number, mypy

Add type hints and mypy pre-commit hook.
  .pre-commit-config.yaml
  .travis.yml
  MANIFEST.in
  aiida_optimize/_utils.py
  aiida_optimize/engines/_base.py
  aiida_optimize/engines/_bisection.py
  aiida_optimize/engines/_nelder_mead.py
  aiida_optimize/engines/_result_mapping.py
  aiida_optimize/py.typed
  aiida_optimize/wrappers/_run_or_submit.py
  mypy.ini
  setup.json
  tests/wrappers/test_add_inputs_wrapper.py
  tests/wrappers/test_create_evaluate.py
Due: prospector, version-number, mypy

Use 'proper' hook for mypy.
  .pre-commit-config.yaml
  utils/validate_version_consistency.py
Due: prospector, version-number, mypy

Get rid of fsc.export magic.
  aiida_optimize/_optimization_workchain.py
  aiida_optimize/engines/__init__.py
  aiida_optimize/engines/_base.py
  aiida_optimize/engines/_bisection.py
  aiida_optimize/engines/_nelder_mead.py
  aiida_optimize/engines/_parameter_sweep.py
  aiida_optimize/engines/_result_mapping.py
  setup.json
Due: prospector, version-number, mypy

Update pre-commit tools, change trove classifier to 'stable'
  .pre-commit-config.yaml
  aiida_optimize/engines/_base.py
  aiida_optimize/engines/_bisection.py
  aiida_optimize/engines/_nelder_mead.py
  aiida_optimize/engines/_parameter_sweep.py
  setup.json
  tests/conftest.py
  tests/sample_processes.py
  tests/test_bisect.py
  tests/test_nelder_mead.py
  tests/test_parameter_sweep.py
  tests/wrappers/test_create_evaluate.py
Due: prospector, version-number, mypy

Suppress pre-commit import error issue
  tests/wrappers/test_add_inputs_wrapper.py
  tests/wrappers/test_create_evaluate.py
Due: prospector, mypy

Fix type of 'extra_points'
  aiida_optimize/engines/_nelder_mead.py
Due: prospector, mypy

Fix missing 'echo_process' imports.
  tests/wrappers/test_add_inputs_wrapper.py
  tests/wrappers/test_create_evaluate.py
Due: prospector, mypy

Use 'load_documentation_profile' when building docs.
  doc/source/conf.py
Due: mypy

Remove prospector, replace by directly running pylint.
  .pre-commit-config.yaml
  setup.json
Due: version-number

Remove code duplication by moving '_get_optimal_result' to base.
  .pylintrc
  aiida_optimize/engines/_base.py
  aiida_optimize/engines/_nelder_mead.py
  aiida_optimize/engines/_parameter_sweep.py
Due: prospector, mypy

Remove deprecated 'sudo' key from travis config.
  .travis.yml
Due: none

Add example notebook for tutorial video.
  .gitignore
  examples/tutorial.ipynb
Due: none

Fix compatibility with AiiDA 1.4.
  .prospector.yaml
  aiida_optimize/wrappers/_add_inputs.py
  aiida_optimize/wrappers/_create_evaluate.py
Due: prospector, mypy

Bump version to 0.3.2.
  aiida_optimize/__init__.py
  setup.json
Due: prospector, version-number, mypy

Working convergence engine and tests; added is_finished_ok property to base engine
  aiida_optimize/_optimization_workchain.py
  aiida_optimize/engines/__init__.py
  aiida_optimize/engines/_base.py
  aiida_optimize/engines/_convergence.py
  tests/test_convergence.py
Due: prospector, mypy

Added necessary number of steps prediction to the convergence engine
  aiida_optimize/_optimization_workchain.py
  aiida_optimize/engines/_convergence.py
  tests/conftest.py
  tests/test_convergence.py
Due: prospector, mypy

Add testing fixture to test for non-zero exit status; implement 202 failure test for convergence engine; fix convergence engine behavior when convergence reached at the end of inputs list
  aiida_optimize/engines/_convergence.py
  tests/conftest.py
  tests/test_convergence.py
Due: prospector, mypy

Removed trailing whitespace
  aiida_optimize/engines/_convergence.py
  tests/conftest.py
Due: prospector, mypy

Fixes for review comments
  aiida_optimize/engines/_base.py
  aiida_optimize/engines/_convergence.py
  tests/test_convergence.py
Due: prospector, mypy

Add 'sphinx.ext.napoleon' to documentation extensions.
  doc/source/conf.py
Due: mypy

Fix precommit
  aiida_optimize/engines/_convergence.py
Due: prospector, mypy

Run formatter.
  aiida_optimize/_optimization_workchain.py
  tests/conftest.py
  tests/test_convergence.py
Due: prospector, mypy

Add support for nested-key syntax in OptimizationWorkChain
  aiida_optimize/_optimization_workchain.py
  aiida_optimize/_utils.py
  aiida_optimize/engines/_convergence.py
  aiida_optimize/engines/_result_mapping.py
  tests/test_convergence.py
Due: prospector, mypy

Drop support for AiiDA versions < 1.3
  setup.json
Due: version-number

Simplify key merging, and re-use the code in `AddInputsWorkChain`
  aiida_optimize/_merge_nested_keys.py
  aiida_optimize/_optimization_workchain.py
  aiida_optimize/_utils.py
  aiida_optimize/wrappers/_add_inputs.py
  tests/conftest.py
  tests/test_bisect.py
  tests/test_convergence.py
Due: prospector, mypy

Move CI from Travis to Github Actions
  .ci/install_script.sh
  .ci/test_config.yml
  .ci/test_script.sh
  .github/workflows/ci.yml
  .travis.yml
Due: none

Merge 'dev_precommit' extra into 'dev'.
  .ci/install_script.sh
  setup.json
  setup.py
Due: prospector, version-number, mypy

Fix typo in ci.yml.
  .github/workflows/ci.yml
Due: none

Add minimal 'pyproject.toml' file.
  pyproject.toml
Due: none

Move `get_nested_result` into new public `helpers` module.
  aiida_optimize/__init__.py
  aiida_optimize/_merge_nested_keys.py
  aiida_optimize/_utils.py
  aiida_optimize/engines/_convergence.py
  aiida_optimize/helpers.py
  doc/source/reference.rst
Due: prospector, version-number, mypy

Make engine base classes public, move `_merge_nested_keys` to `_utils`.
  aiida_optimize/_merge_nested_keys.py
  aiida_optimize/_optimization_workchain.py
  aiida_optimize/_utils.py
  aiida_optimize/engines/__init__.py
  aiida_optimize/engines/_bisection.py
  aiida_optimize/engines/_convergence.py
  aiida_optimize/engines/_nelder_mead.py
  aiida_optimize/engines/_parameter_sweep.py
  aiida_optimize/engines/base.py
  aiida_optimize/helpers.py
  aiida_optimize/wrappers/_add_inputs.py
  aiida_optimize/wrappers/_create_evaluate.py
  doc/source/conf.py
  doc/source/reference.rst
Due: prospector, mypy

Use `get_nested_result` in all engines, add some tests.
  aiida_optimize/engines/_bisection.py
  aiida_optimize/engines/_nelder_mead.py
  aiida_optimize/engines/_parameter_sweep.py
  setup.json
  tests/coverage.sh
  tests/sample_processes.py
  tests/test_bisect.py
Due: prospector, version-number, mypy

Initial commit for optimal_process_input support
  aiida_optimize/_optimization_workchain.py
  aiida_optimize/engines/_bisection.py
  aiida_optimize/engines/_convergence.py
  aiida_optimize/engines/_nelder_mead.py
  aiida_optimize/engines/_parameter_sweep.py
  aiida_optimize/engines/base.py
Due: prospector, mypy

Tests passing
  aiida_optimize/engines/_bisection.py
  aiida_optimize/engines/_convergence.py
  aiida_optimize/engines/_nelder_mead.py
Due: prospector, mypy

Minor changes suggested by @greschd
  aiida_optimize/_optimization_workchain.py
  aiida_optimize/engines/_bisection.py
  aiida_optimize/engines/_convergence.py
Due: prospector, mypy
